body {margin: 0; padding: 0;}

/*Шапка*/
#header{
    padding-top: 60px;
    padding-bottom: 60px;
}
#menu {
    display: inline-block;
  list-style: none; 
  margin-top: 17px;
}

.ext{
    width: 40px;
    height: 20px;
    display: inline-block;
    padding-left: 173px;
}
.menuland {
    display: inline-block;
    padding-right: 30px;
    font-size: 13px;
    font-family: montserrat;
    font-weight: 300;
}
#logo{
    height: 87px;
    width: 90px;
    float: left;
    padding-right: 10%;
    padding-left: 5%;
}

#seh{
    font-weight: 700;
    color: #D1A954;
    letter-spacing: 5%

}

#main{
    display: inline-block;
    color: #D1A954;
    border: 1px solid #D1A954;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
}
/*Реклама*/
#fsc{
    margin-left: 3%;
    z-index: 100;
}
#fsc1{

    display: inline;
    width: 30%;
    margin-right: 2%;
}
#fsc2{
    display: inline;
    width: 30%;
    margin-right: 2%;
}
#fsc3{
    display: inline;
    width: 30%;
    margin-right: 2%;
}
#party{
    color: white;
    margin-top: -120px;
    margin-left: 1%;
    width: 28%;
    text-align: center;
    font-family: montserrat;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    padding-bottom: 15px;
    padding-top: 10px;
    z-index: 1;
    height: 106px;
    letter-spacing: 5%;

}
.mtitle{
    font-family: montserrat;
    font-style: normal;
    line-height: 36,57px;
    font-size: 30px;
    font-weight: 300;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    letter-spacing: 5%;
}
.mtext{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 5%;
}
#wedding{
    color: white;
    margin-top: -106px;
    margin-left: 33.3%;
    width: 28%;
    text-align: center;
    font-family: montserrat;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    padding-bottom: 15px;
    padding-top: 10px;
    z-index: 1;
    height: 106px;
    letter-spacing: 5%;
}
#evening{
    color: white;
    margin-top: -106px;
    margin-left: 65.6%;
    width: 28%;
    text-align: center;
    font-family: montserrat;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    padding-bottom: 15px;
    padding-top: 10px;
    z-index: 1;
    height: 106px; 
    letter-spacing: 5%;
}
#scrl{
    text-align: center;
    margin-top: 60px
}
/*О ресторане*/
#about{
    font-family: montserrat;
    font-weight: 300;
    font-size: 36px;
    line-height: 52.2px;
    letter-spacing: 5%;
    padding-bottom: 56px;
    padding-top: 80px;
    text-align: center;
}
#info{
    background: white;
    display: block;
    margin-bottom: 300px;
}
#hall{
    display: block;
    text-align: center;
}
#play{
    text-align: center;
    margin-top: -330px;
}

#down{
    background-image: url(backmore.png);
    height: 409px;
    padding-left: 0px;
}


#MORE{
    padding-top: 120px;
    color: white;
    font-weight: 300;
    display: block;
    margin: auto;
    text-align: center;
    font-family: montserrat; 
    font-size: 36px;
}

#plan{
    display: inline-block;
    width: 136px;
    outline: 1px solid white;
    background: white;
    padding: 10px;
    margin-left: 600px;
    line-height: 19,5px;
    font-family: montserrat;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 5%;
    text-align: center;
    margin-top: 70px;
}
#point{
    display: inline-block;
    width: 15%;
    outline: 1px solid white;
    background: white;
    padding: 10px;
    line-height: 19,5px;
    font-family: montserrat;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 5%;
    text-align: center;
    margin-left: 90px;
}

/*ИНСТ*/
#insttitle{
    font-family: montserrat;
    font-weight: 300;
    font-size: 36px;
    line-height: 52.2px;
    letter-spacing: 5%;
    padding-bottom: 8px;
    padding-top: 80px;
    text-align: center;
}


#icon{
    text-align: center;
}
#tiredofids{
    text-align: center;
    font-family: montserrat;
    font-weight: 300;
    font-size: 9px;
    letter-spacing: 3%; 
    padding-top: 3px;
}
.instph{
    display: inline-block;
    margin-left: -42px;
    padding-top: 90px;
    width: 320px;
}

#footer{
    display: inline;
    font-family: montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 52.2px;
    letter-spacing: 5%;
}

#cop{
    display: inline-block;
    margin-right: 500px;
    margin-left: 15%;
}
#med{
    display: inline-block;
}
