body{
    background-color: beige;
}

.up{
    display: inline;
    float: right;
}
.menu{
    list-style-type: none;
    display: inline;
    padding-inline-start: 10px;
    position: relative;
    margin-top: 10px;
}

.menu li {
    display: inline;
    margin-right: 10px;
    border: 1px solid #000;
    padding: 2px;
}


.mn {
    color: #261616;
    text-decoration: none;
}
.mn:hover {
    text-decoration: none; 
    color: #fff; 
    background: #73503c; 
   }
.menu li:hover{
     background: #73503c;
}

/*ПОЧТА ВВОД ЦВЕТНОЙ*/
.em:focus{
    background: #f0e5a5;
    color: white;

}

.title {
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.long:first-letter{
    font-size: 30px;
    font-weight: 300;
    color: #4d2f04;
}
.short {
    font-size: 14ps;
    font-style: italic;
    line-height: 16px;
}

.long {
    color: #484343;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/*Ввод с большой буквы*/
input{
  text-transform: capitalize;  
}

.char {
    list-style-image: url(ulpic.png);
}
.char li{
    font-family: cursive;
    font-size: 17px;
}

.staf {
    border: 3px solid white;
}
.staf:hover{
    border: 3px solid transparent;
}

input {
    width: 200px;
    height: 30px;
    font-size: 15px;
    color: #484343;
}

.logo {
    display: inline;
    padding-right: 15px;
}

.focus{
   border:  3px solid transparent;
}

.focus:hover{
   border:  3px solid white;
}
/*Внешняя граница таблицы*/
table {
border : 1px solid #000;
border-collapse : collapse;
}
/*Границы для ячеек таблицы*/
td {
border : 1px solid #000;
}
.ftr{
    height: 35px;
}

